<div class="sidenav-wrapper">
	<div class="sidenav-header">
		<span class="logo-container">
			<img class="logo" src="../../../assets/logo.png" alt="" />
		</span>
	</div>
	<div class="sidenav-navigation">
		<mat-list>
			<mat-list-item routerLink="/stats">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">leaderboard</mat-icon>
					<span class="nav-text text-white" translate>sidebar.player_statistics</span>
				</button>
			</mat-list-item>
			<mat-list-item routerLink="/clan-stats">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">domain</mat-icon>
					<span class="nav-text text-white" translate>sidebar.clan_statistics</span>
				</button>
			</mat-list-item>
			<mat-list-item routerLink="/compare">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">compare</mat-icon>
					<span class="nav-text text-white" translate>sidebar.compare_tanks</span>
				</button>
			</mat-list-item>
			<mat-list-item routerLink="/camo">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">calculate</mat-icon>
					<span class="nav-text text-white" translate>sidebar.camo_values_calculator</span>
				</button>
			</mat-list-item>
			<mat-list-item routerLink="/tutorials">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">style</mat-icon>
					<span class="nav-text text-white" translate>sidebar.tutorials</span>
				</button>
			</mat-list-item>
			<mat-list-item routerLink="/about">
				<button mat-button class="nav-button">
					<mat-icon class="nav-icon text-white">info</mat-icon>
					<span class="nav-text text-white" translate>sidebar.about</span>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
	<div class="sidenav-site-info">
		<p>TankStats &#174; <br/> Author: Andrzej Bronisławski</p>
	</div>
</div>
