<div class="sidenav-wrapper">
	<div class="sidenav-header">
		<span class="logo-container">
			<img class="logo" src="../../../assets/logo.png" alt="" />
		</span>
	</div>
	<div class="sidenav-navigation">
		<mat-list>
			<mat-list-item routerLink="/stats">
				<button mat-button class="nav-button">
					<mat-icon aria-hidden="false" aria-label="Example home icon" class="nav-icon text-white">home</mat-icon>
					<span class="nav-text text-white">Statistics</span>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
</div>
