.logo-container {
	display: block;
}

.logo {
	display: block;
	height: 128px;
	width: 192px;
	margin: 16px auto 0 auto;
}

.text-white {
	color: #F5F5F5;
}

.nav-button {
	background-color: #121212;
	width: 100%;
	text-align: left;

	.nav-icon {
		margin-right: 4px;
	}

	.nav-text {
		font-weight: bold;
	}

	&:hover {
		background-color: #1F1F1F;
	}
}
